# Python virtual environment
myenv/
venv/
env/
.env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local configuration
.env
.env.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
